@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

input, button {
  border: 0;
  transition: .2s all;
  -webkit-appearance: none; }
  input:focus, button:focus {
    outline: none; }

button:hover {
  cursor: pointer; }

input {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.cta-form input {
  z-index: 1;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3); }
  .cta-form input:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3), inset 0 0 0 3px rgba(50, 193, 158, 0.25);
    -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3), inset 0 0 0 3px rgba(50, 193, 158, 0.25);
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3), inset 0 0 0 3px rgba(50, 193, 158, 0.25); }
.cta-form button {
  color: #FFF;
  font-size: 14px;
  background: #32C19E;
  z-index: 2;
  padding: 0 20px;
  border-radius: 0 3px 3px 0;
  border-left: 3px solid rgba(0, 0, 0, 0.05); }
  .cta-form button:hover {
    background-color: #249B7C; }
.cta-form__container {
  position: relative; }
  .cta-form__container button {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0; }
.cta-form__explanation {
  color: #FFF;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.9); }

.btn, .navigation__btn {
  color: #FFF;
  border-radius: 3px;
  font-weight: 400;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p, a, span {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  line-height: 1.25em; }

h1 {
  font-size: 32px;
  font-weight: 300; }

h2 {
  color: #555;
  font-size: 28px;
  font-weight: 700; }

h3 {
  font-weight: 700;
  font-size: 34px; }

.center {
  text-align: center; }

header {
  width: 100%;
  z-index: 99;
  padding: 20px;
  position: fixed;
  transition: all 0.4s ease; }
  header img {
    max-width: 110px; }
  header.sticky {
    background-color: rgba(255, 255, 255, 0.975); }
    header.sticky .navigation__btn {
      box-shadow: none; }
    header.sticky .navigation__social {
      color: #454545; }

.navigation {
  float: right; }
  .navigation a, .navigation i {
    transition: .2s all ease; }
  .navigation li {
    float: left;
    margin-left: 20px; }
  .navigation__btn {
    background-color: #009FF5;
    margin-right: 24px;
    padding: 7px 14px;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.075); }
    .navigation__btn:hover {
      background-color: #007FB7; }
  .navigation__social {
    color: #FFF;
    font-size: 22px;
    line-height: 1em; }
    .navigation__social:hover i {
      color: #009FF5; }

.invert, header.sticky img {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

footer {
  padding: 40px 0;
  background-color: #181E21; }
  footer p {
    color: #FFF; }
  footer .cta-form__container {
    max-width: 400px;
    margin: 0 auto; }
  footer .cta-form__explanation {
    margin-top: 0; }
  footer .social {
    float: right; }
    footer .social li {
      float: left;
      margin-left: 20px; }
      footer .social li a {
        font-size: 40px; }

.introduction {
  min-height: 600px;
  background: #FFF url("../img/bg2.jpg") no-repeat top center;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover; }
  .introduction .logo {
    padding-top: 80px;
    text-align: center; }
    .introduction .logo img {
      width: 100%;
      max-width: 140px; }
  .introduction h1 {
    color: #FFF;
    margin: 75px 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
  .introduction .cta-form {
    width: 360px;
    margin: 0 auto; }

.inner {
  max-width: 1040px;
  padding: 0 20px;
  margin: 0 auto; }

.info-panel {
  padding: 60px 0;
  background-color: #EDEFED; }
  .info-panel h4 {
    color: #555;
    margin-top: 5px; }

.details {
  height: 320px;
  margin: 0 0 40px 0;
  background: #FFF; }
  .details__background {
    background: url("../img/pack-spread.jpg") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%; }
  .details__text {
    padding: 0 35px;
    background: #FFF; }
    .details__text p {
      color: #666;
      margin: 20px 0;
      font-size: 17px;
      line-height: 1.5em; }
    .details__text .btn, .details__text .navigation__btn {
      width: 100%;
      background-color: #32C19E;
      padding: 14px 20px;
      text-align: center;
      font-size: 18px;
      display: block; }
      .details__text .btn:hover, .details__text .navigation__btn:hover {
        background-color: #249B7C; }

.example {
  margin-top: 30px;
  position: relative;
  overflow: hidden; }
  .example__img img {
    width: 100%;
    display: block; }
  .example__title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding-top: 134px;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.25); }
    .example__title h3 {
      color: #FFF; }
  .example:hover .example__title {
    padding-top: 40px;
    background: rgba(0, 0, 0, 0.85); }
  .example:hover .title__text {
    opacity: 1; }

.title__text {
  transition: .4s opacity ease;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 0;
  color: #FFF;
  padding: 20px;
  text-align: left;
  margin-left: 20px;
  list-style-type: circle; }
  .title__text li {
    margin-bottom: 20px; }

@media screen and (max-width: 990px) {
  .details {
    height: auto; }
    .details__background {
      height: 260px; }
    .details__text {
      padding: 20px 35px; }

  .examples .col-md-4 {
    margin: 0 auto; } }
@media screen and (max-width: 500px) {
  header .col-sm-3, header .col-sm-9 {
    display: block;
    width: 100%;
    text-align: center; }
    header .col-sm-3 .navigation, header .col-sm-9 .navigation {
      float: none;
      padding-top: 15px;
      display: inline-block; }

  .introduction .logo {
    padding-top: 120px; }

  footer .col-sm-3, footer .col-sm-6 {
    width: 100%;
    text-align: center; }
  footer .social {
    margin-bottom: 20px;
    display: inline-block;
    float: none; }
  footer form {
    margin-bottom: 20px; } }

/*# sourceMappingURL=style.css.map */
