.introduction {
  min-height: 600px;
  background: #FFF url('../img/bg1.jpg') no-repeat top center;

  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;

  .logo {
    padding-top: 130px;
    text-align: center;

    i {
      color: #FFF;
      font-size: 80px;
    }

    img {

    }
  }

  h1 {
    color: #FFF;
    margin: 60px 0 100px;
  }

  .cta-form {
    width: 360px;
    margin: 0 auto;
  }
}

.inner {
  max-width: 1040px;
  padding: 0 20px;
  margin: 0 auto;
}

.info-panel {
  padding: 60px 0;
  background-color: $light-gray;
}

.details {
  height: 320px;
  background: #FFF;

  &__background {
    background: url('../img/pack-spread.jpg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  &__text {
    padding: 0 35px;
    background: #FFF;

    p {
      color: #666;
      margin: 20px 0;
      font-size: 17px;
      line-height: 1.5em;
    }

    .btn {
      width: 100%;
      background-color: $green;
      padding: 14px 20px;
      text-align: center;
      font-size: 18px;
      display: block;

      &:hover {
        background-color: $green-shade;
      }
    }
  }
}