.introduction {
  min-height: 600px;
  background: #FFF url('../img/bg2.jpg') no-repeat top center;

  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;

  .logo {
    padding-top: 80px;
    text-align: center;

    img {
      width: 100%;
      max-width: 140px;
    }
  }

  h1 {
    color: #FFF;
    margin: 75px 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, .4);
  }

  .cta-form {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
}

.inner {
  max-width: 1040px;
  padding: 0 20px;
  margin: 0 auto;
}

.info-panel {
  padding: 60px 0;
  background-color: $light-gray;

  h4 {
    color: #555;
    margin-top: 5px;
  }
}

.details {
  height: 320px;
  margin: 0 0 40px 0;
  background: #FFF;

  &__background {
    background: url('../img/pack-spread.jpg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  &__text {
    padding: 0 35px;
    background: #FFF;

    p {
      color: #666;
      margin: 20px 0;
      font-size: 17px;
      line-height: 1.5em;
    }

    .btn {
      width: 100%;
      background-color: $green;
      padding: 14px 20px;
      text-align: center;
      font-size: 18px;
      display: block;

      &:hover {
        background-color: $green-shade;
      }
    }
  }
}

.example {
  margin-top: 30px;
  position: relative;
  overflow: hidden;

  &__img {

    img {
      width: 100%;
      display: block;
    }
  }

  &__title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding-top: 134px;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, .25);

    h3 {
      color: #FFF;
    }
  }

  &:hover {

    .example__title {
      padding-top: 40px;
      background: rgba(0, 0, 0, .85);
    }

    .title__text {
      opacity: 1;
    }
  }

}

.title__text {
  transition: .4s opacity ease;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 0;
  color: #FFF;
  padding: 20px;
  text-align: left;
  margin-left: 20px;
  list-style-type: circle;

  li {
    margin-bottom: 20px;
  }
}
