header {
  width: 100%;
  z-index: 99;
  padding: 20px;
  position: fixed;
  transition: all 0.4s ease;

  &.sticky {
    background-color: rgba(255, 255, 255, .9);

    .navigation {

      &__btn {
        box-shadow: none;
      }

      &__social {
        color: #454545;
      }
    }
  }
}

.navigation {
  float: right;

  a, i {
    transition: .2s all ease;
  }

  li {
    float: left;
    margin-left: 20px;
  }

  &__btn {
    background-color: $orange;
    margin-right: 24px;
    padding: 7px 14px;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.075);
    @extend .btn;

    &:hover {
      background-color: $orange-shade;
    }
  }

  &__social {
    color: #FFF;
    font-size: 22px;
    line-height: 1em;

    &:hover {
      i {
        color: $orange;
      }
    }
  }
}