h1, h2, h3, h4, h5, h6, p, a, span {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  line-height: 1.25em;
}

h1 {
  font-size: 32px;
  font-weight: 300;
}

h2 {
  color: #555;
  font-size: 28px;
  font-weight: 700;
}